<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- Registration page-->

    <title>Document</title>
  </head>
  <h2>Register Page</h2>
  <p>Want to sign in instead? <a href="/login">Login here</a></p>
  <body>
    <form method="POST" action="/register">
      <label>Email</label>
      <input name="email" />
      <br />
      <label>Password</label>
      <input name="password" />
      <br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
